<section class="page-image page-image-blog md-padding">
    <h1 class="text-white text-center">BLOG POSTS</h1>
</section>

<section id="blog" class="md-padding blog_content">
    <div class="container">
        <div class="row">
            <main id="main">
                <div class="row">

                    {{#each posts}}
                    <div class="col-md-6">
                        <div class="blog">
                            <div class="blog-img">
                                <img src="img/post.jpg" class="img-fluid">
                            </div>
                            <div class="blog-content">
                                <ul class="blog-meta">
                                    <li><i class="fas fa-users"></i><span class="writer">{{this.userName}}</span></li>
                                    <li><i class="fas fa-clock"></i><span class="writer">{{dateFormat this.dateCreated "DD MMM YYYY"}}</span></li>
                                </ul>
                                <h3>{{this.title}}</h3>
                                <p>{{ trimString this.detail }}</p>
                                <a href="/posts/{{ this._id }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </main>
        </div>
    </div>
</section>